* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
}

.no-focus-border:focus {
    outline: none;
  }